#loggerWrapper {
    padding: 10px;
    background-color: cyan;
    height: 200px;
    overflow-y: scroll;
    border-radius: 5px;
    box-sizing:border-box;
    width: 100%;
}
.loggedSpan {
    padding: 10px;
    float: left;
    clear: left;
    width: 100%;
    border-top: 2px solid lightblue;
    border-radius: 3px;
    box-sizing: border-box;
}
#loggerCmd {
    padding: 10px;
    background-color: lightblue;
}
#loggerCmd input[type=text] {
    width: 50%;
    height: 20px;
} 
#loggerCmd a {
    padding:4px;
    background-color:darkblue;
    color:white;
    font-weight: bold;
    padding: 5px 15px;
    cursor: pointer;
}